/**
* @link https://meyerweb.com/eric/tools/css/reset/
*/
@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

html, body { 
    padding: 0; margin: 0;
    background: aliceblue; 
    font-family: 'Tajawal', monospace;
}

main { 
    border-bottom: thin solid black;
    background: antiquewhite;
}

section { 
    min-height: 50px; 
    min-width: 50px; 
    background: #555555; 
    display: inline-block; 
}